input[type="text"] {
  border: none;
  box-shadow: 0px 5px 5px grey;

  outline: none;
  transition: 0.4s ease;

  background-color: rgba(255, 255, 255, 0.25);
}

input[type="text"]:focus {
  background-color: rgb(255, 255, 255);
}
