* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

input[type="text"] {
  padding: 10px;
  font-size: 17.8px;
  border: 1px solid grey;
  color: white;
  background: grey;
  outline: none;
}

form button {
  /* width: 20%; */
  padding: 10px;
  background: #86c232;
  color: white;
  font-size: 17px;
  border: 0.5px solid grey;
  border-left: none; /* Prevent double borders */

  cursor: pointer;
}

.header-absolute {
  min-height: 500px;
  width: 100%;
  background: #222629;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 76% 82%, 31% 81%, 0% 50%);

  position: absolute;
  z-index: -1;
}
body {
  background: #86c232;
}

.header-content {
  text-align: center;
  background: #222629;
  /* border: 1px solid white; */
  padding-top: 100px;

  width: 50%;
  margin: auto;
}

.header-h1 {
  font-size: 3rem;
  color: #86c232;
  padding-bottom: 25px;
}

.middle-content {
  border-top: 5px solid white;
  border-bottom: 5px solid white;
  margin-top: 120px;
  min-height: 500px;
  background-color: #222629;
}

.select-wrap {
  width: min(95%, 1280px);
  margin: auto;
  padding: 20px 0px;
}

.movie-container {
  margin: auto;
  /* background: coral; */
  display: grid;
  gap: 2rem;
  width: min(95%, 1280px);
  grid-template-columns: repeat(1, 1fr);
}

.movie-card {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  background-color: #86c232;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.movie-card:hover {
  transform: scale(1.1);
  box-shadow: 1px 5px 30px 5px grey;
}

.image-container img {
  width: 100%;
  height: 300px;
  max-height: 300px;
  display: block;
  object-fit: cover;
}

.card-info {
  background-color: grey;
  clip-path: polygon(100% 0, 100% 48%, 84% 100%, 0 99%, 0 0);

  padding: 10px;

  /* z-index: -1; */
}

.card-text {
  font-weight: bold;
}

.card-text p:nth-of-type(1) {
  color: white;
}

.card-text p:nth-of-type(2) {
  color: #86c232;
  font-size: 0.9rem;
}

span {
  color: white;
}

.selected {
  padding: 8px 8px;
  background-color: grey;
  border: 3px solid #a8cf70;
  font-weight: bold;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 101;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;

  background-color: #222629;
  z-index: 102;
}

.modal-content {
  display: flex;
}

.modal-text {
  width: 60%;
  color: white;
  padding: 30px 0 0 0;
  padding-left: 80px;
  margin-bottom: 30px;
}

.modal-text h1 {
  padding-bottom: 10px;
}

.modal-text span {
  padding-right: 30px;
  font-size: 0.9rem;
}

.modal-text span:nth-of-type(4) {
  right: 1%;
  bottom: 3%;
  border: 1px solid #86c232;
  border-radius: 50%;
  padding: 15px;
}

.modal-text p {
  padding-top: 30px;
  width: 90%;
  overflow-x: auto;
  padding-bottom: 30px;
}

.modal-text a {
  border: 3px solid #86c232;
  padding: 8px 20px;
  text-decoration: none;
  color: #86c232;
  border-radius: 12px;
  transition: all 0.2s ease-in-out;
}

.modal-text a:hover {
  background-color: #86c232;
  color: white;
}

.modal-imagewrap {
  display: block;
  width: 30%;
}

.modal-imagewrap img {
  height: 100%;
  width: 100%;
}

.modal-rating {
  color: white;
  position: absolute;
}

.modal .selected:hover,
.selected:focus {
  outline: none;
  border: 3px solid #86c232;
}

@media (min-width: 600px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .movie-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
